@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
}

.banner {
      width: 100%;
      height: 100vh;
      background-color: #009688;
}
.navbar {
      width: 100%;
      margin: auto;
      padding: 5px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      border-bottom: black 5px solid;
}
.logo {
      width: 80px;
      margin-left: 50%;
}
.navbar ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
}
.navbar ul li a {
      text-decoration: none;
      color: black;
      font-size: large;
      border: black 2px solid;
      padding: 10px 50px;
      border-radius: 50px;
      transition: 0.5s;
}
.navbar ul li a:hover{
      background-color: #555;
      color: white;
}
.anyag {
      color: white;
      text-align: center;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
}
.maintitle {
      font-size: 500%;
      letter-spacing: 5px;
      font-weight: bolder;
}
.mainstitle {
      font-size: 450%;
}